@import 'nib'

html
  height 100%
  margin 0
  padding 0
  width 100%

  background-color #e2e2e2

  color #333
  font normal 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;

body
  height 100%
  margin 0
  padding 0
  position relative
  width 100%

h1
  margin 0 0 1em

  font-size 4em
  font-weight 100
  line-height 1em

.screen
.level
  margin 0 auto 0
  padding 2em
  width 35em

  text-align center

.level
  padding-top 4em

.screen-cover
  height 100%
  left 0
  padding 2em 0
  position absolute
  top 0
  width 100%

  background-color rgba(#e2e2e2, 0.7)

.intro
  margin 1.5em

  font-size 2em
  font-weight 200

.marker
  display inline-block
  height 2em
  margin 0.2em 0 0
  padding 0.45em 0 0
  width 2em

  background-color #333
  border-radius 1em
  box-sizing border-box

  color #fff
  font-size 8em
  font-weight bold
  line-height 1

.marker[data-state="success"]
  background-color #6dd110

form div
fieldset
  margin 0 0 2em
  padding 0

  border 0

.fieldset-alt
  padding-left 15em
  position relative

  text-align left

label
  display inline-block
  margin 0 0.3em 0 0

  font 200 18px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif
  vertical-align middle

input + label
  margin-right 1em

label[data-state="invisible"]
  position absolute
  top -999em

legend
  left 0
  position absolute
  top 0.1em
  width 12em

  font 200 18px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif
  text-align right

select
  font-size 16px
  vertical-align middle

.func
  font-weight 100

input
  width 2em

  border 1px solid #ccc

  font normal 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif
  vertical-align middle

input[type="checkbox"]
input[type="radio"]
  width auto

  vertical-align middle

button
  margin 3em 0
  padding 0.4em 0.8em 0.6em
  position relative

  background-color #19adb8
  border 0
  border-radius 0.175em
  cursor pointer

  color #fff
  font 400 18px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;

button:hover
button:focus
  animation none
  background-color #1ecfdc

button:active
  top 1px

  animation none
  box-shadow inset 0 1px 4px rgba(0,0,0,0.2)

form button
  top -999em
  position absolute

form button[data-state="visible"]
  position static

form div + button
  margin-top 1em

@import 'screens/start.styl'
