html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e2e2e2;
  color: #333;
  font: normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.screen {
  margin: 0 auto 0;
  padding: 2em;
  width: 35em;
  text-align: center;
}
.game-title {
  margin: 0;
  font-size: 4em;
  font-weight: 100;
  line-height: 1em;
}
.game-intro {
  margin: 1.5em;
  font-size: 1.5em;
  font-weight: 200;
}
.game-icon {
  display: block;
  margin: 2.6em auto 3.4em;
  width: 400px;
}
.game-start {
  padding: 0.4em 0.8em 0.6em;
  position: relative;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  background-color: #19adb8;
  border: 0;
  -webkit-border-radius: 0.175em;
  -moz-border-radius: 0.175em;
  border-radius: 0.175em;
  cursor: pointer;
  color: #fff;
  font: 400 3em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.game-start:hover,
.game-start:focus {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  background-color: #1ecfdc;
}
.game-start:active {
  top: 1px;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.20);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.20);
}
@-moz-keyframes pulse {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  50% {
    -webkit-box-shadow: 0 0 20px #19adb8;
    -moz-box-shadow: 0 0 20px #19adb8;
    box-shadow: 0 0 20px #19adb8;
  }

  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  50% {
    -webkit-box-shadow: 0 0 20px #19adb8;
    -moz-box-shadow: 0 0 20px #19adb8;
    box-shadow: 0 0 20px #19adb8;
  }

  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@-o-keyframes pulse {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  50% {
    -webkit-box-shadow: 0 0 20px #19adb8;
    -moz-box-shadow: 0 0 20px #19adb8;
    box-shadow: 0 0 20px #19adb8;
  }

  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@-ms-keyframes pulse {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  50% {
    -webkit-box-shadow: 0 0 20px #19adb8;
    -moz-box-shadow: 0 0 20px #19adb8;
    box-shadow: 0 0 20px #19adb8;
  }

  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  50% {
    -webkit-box-shadow: 0 0 20px #19adb8;
    -moz-box-shadow: 0 0 20px #19adb8;
    box-shadow: 0 0 20px #19adb8;
  }

  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
