@import 'nib'

html
  height 100%
  margin 0
  padding 0
  width 100%

  background-color #e2e2e2

  color #333
  font normal 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;

body
  height 100%
  margin 0
  padding 0
  position relative
  width 100%

.screen
  margin 0 auto 0
  padding 2em
  width 35em

  text-align center

.screen-cover
  height 100%
  left 0
  padding 2em 0
  position absolute
  top 0
  width 100%

  background-color rgba(#e2e2e2, 0.7)

.intro
  margin 1.5em

  font-size 2em
  font-weight 200

.marker
  display inline-block
  height 2em
  margin 0.2em 0 0
  padding 0.45em 0 0
  width 2em

  background-color #333
  border-radius 1em
  box-sizing border-box

  color #fff
  font-size 8em
  font-weight bold
  line-height 1

.marker[data-state="success"]
  background-color #6dd110

@import 'screens/start.styl'

