.game-icon
  display block
  margin 3.5em auto 3.4em
  width 400px

.game-start
  margin 0.7em 0

  animation pulse 2s infinite

  font-size 3em

.game-start:hover
.game-start:focus
  animation none

.game-start:active
  animation none

@keyframes pulse
  0%
    box-shadow none
  50%
    box-shadow 0 0 20px rgba(#19adb8,1)
  100%
    box-shadow none
